.App {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 2rem;
}

input {
  margin: 5px;
  padding: 10px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

h2 {
  margin-top: 20px;
  color: #007bff;
  font-size: 1.5rem;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div {
  margin: 20px auto;
  padding: 10px;
  background: linear-gradient(135deg, rgb(217, 227, 143), rgb(100, 196, 133));
  border-radius: 10px;
  width: fit-content;
}